button {
  cursor: pointer;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: white;
}

main {
  background-color: rgb(10, 108, 163);
  color: white;
  padding: 40px;
}

.image-wrapper > div {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-1 {
  background-image: url(https://www.beechbrook.org/files/callouts/home-row-1/become-a-foster-parent.jpg);
}

.image-2 {
  background-image: url(https://www.beechbrook.org/files/callouts/home-row-1/personal-impact-stories.jpg);
}

.image-3 {
  background-image: url(https://www.beechbrook.org/files/callouts/home-row-1/adult-childphoto.jpeg);
}

#iosArrow {
  background-color: yellow;
  color: black;
  border-radius: 50%;
  padding: 5px;
}

h3 {
  margin: 0;
  color: white;
  padding-right: 0px;
}

.image-inner-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  cursor: pointer;
  padding: 20px 40px;
}

.image-inner-wrapper > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#rxHamburgerMenu {
  cursor: pointer;
}

.sign-up-wrapper {
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 40px;
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-up-wrapper input {
  padding: 10px;
}

#signUpBtn {
  background-color: rgb(237, 191, 111);
  border: none;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
}

.sign-up-text {
  text-transform: uppercase;
}

.notNowText {
  color: gray;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.notNowText:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1000px) {
  .image-wrapper {
    display: flex;
    flex-direction: row;
  }

  .image-wrapper > div {
    flex: 1;
  }
}
@media screen and (min-width: 1400px) {
  .wrapper,
  .sign-up-wrapper {
    width: 1400px;
    margin: 0 auto;
  }
}
