* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  margin: 0;
}

h3 {
  font-weight: normal;
}